<h2><%= __('Messagerie') %></h2>
<section id="enregistrement">
	<input type="text">
	<button onclick="enregistrement()"><%= __('Enregistrer') %></button>
</section>

<section class="chat" style="display:none">
	<table id="liste_utilisateur">
	</table>
	<div class="boiteMessages">
		<div class="lesMessages">
				<table id="message">
			</table>
		</div>
		<section>
			<input id="leMessage" type="text" name="txtMessage"><button onclick="envoyerMessage()"><%= __('Envoyer') %></button>
		</section>
	</div>
</section>

<script type="text/javascript">
let socket;
let nomUtilisateur;

window.onload = ()=>{
	socket = io();
 	socket.on('connect', function(){
 		//console.log('Le socket id = ' + socket.id);

 		socket.on('nouvUtilisateur', function(data){
 			//console.log("nouvel Utilisateur");
 			let trUtilisateur = document.createElement("tr");
 			trUtilisateur.setAttribute("id", data[0]);
 			trUtilisateur.innerHTML = data[1];
 			document.getElementById("liste_utilisateur").appendChild(trUtilisateur); 
 		});

 		socket.on('afficherMessage', function(data){
 			//console.log("Message publique affiche: " + data.message);
 			let trMessage = document.createElement("tr");
 			trMessage.innerHTML = "<td class='noms'>"+data.nom+"</td>"+"<td class='messages'>"+data.message+"</td>";
 			document.getElementById("message").appendChild(trMessage);
 		});

 		socket.on('deconnecter', function(data){
 			console.log("Utilisateur deconnecter");
 			document.getElementById("liste_utilisateur").removeChild(document.querySelector('tr[id="'+data+'"]'));
 		});

 	});
 }

/* ---------------------------------------------------------- */
function enregistrement(){
	var elmUtilisateur = document.querySelector('#enregistrement input');
	nomUtilisateur = elmUtilisateur.value;

 	socket.emit('ajouterUtilisateur', {utilisateur : elmUtilisateur.value, id : socket.id});

 	xhr = new XMLHttpRequest();
			data =
			{
				"id" : socket.id, 
 				"nom" : elmUtilisateur.value,
			};

		xhr.open('POST', "/enregistrer_ajax", true);

		sData = JSON.stringify(data);
		xhr.setRequestHeader('Content-type', 'application/json');
		xhr.send(sData);

		xhr.addEventListener("readystatechange", traiterRequest, false);


		function traiterRequest(e)
		{
			if(xhr.readyState == 4 && xhr.status == 200)
			{
				let  maReponse = JSON.parse(xhr.responseText);
			};
		};

 	document.getElementById("enregistrement").style.display = "none";
 	document.getElementsByClassName("chat")[0].style.display = "flex";
};

/* ---------------------------------------------------------- */
function envoyerMessage(){
	let leMessage = document.getElementById("leMessage").value;
	socket.emit('messagePublique', {nom: nomUtilisateur, message: leMessage});
};

</script>