<h2><%= 'message' %></h2>
<section id="enregistrement">
	<input type="text">
	<button onclick="enregistrement()">Enregistrement</button>
</section>

<section class="chat" style="display:none">
	<table id="list_user">
	</table>
	<div class="boiteMessages">
		<div class="lesMessages">
				<table id="message">
			</table>
		</div>
		<section id="message_a_transmettre">
			<input type="text" name="txtMessage"><button onclick="envoyerMessage()"><%= 'envoyer' %></button>
		</section>
	</div>
</section>

<script type="text/javascript">

let socket;

window.onload = ()=>{
	socket = io();
 	socket.on('connect', function(){
 		thisID = socket.id;
 		console.log('Le socket id = ' + socket.id);

 		socket.on('nouvUtilisateur', function(data){
 			console.log("nouvUtilisateur");
 			let trUtilisateur = document.createElement("tr");
 			trUtilisateur.setAttribute("id", data[0]);
 			trUtilisateur.innerHTML = data[1];
 			document.getElementById("list_user").appendChild(trUtilisateur); 
 		});


 	});
 }

/* ---------------------------------------------------------- */
function enregistrement(){
	var elmUtilisateur = document.querySelector('#enregistrement input');
	console.log(elmUtilisateur.value);

 	socket.emit('ajouterUtilisateur', {utilisateur : elmUtilisateur.value, id : socket.id});

 	xhr = new XMLHttpRequest();
			data =
			{
				"id" : socket.id, 
 				"nom" : elmUtilisateur.value,
			};

		xhr.open('POST', "/enregistrer_ajax", true);

		sData = JSON.stringify(data);
		xhr.setRequestHeader('Content-type', 'application/json');
		xhr.send(sData);

		xhr.addEventListener("readystatechange", traiterRequest, false);


		function traiterRequest(e)
		{
			if(xhr.readyState == 4 && xhr.status == 200)
			{
				let  maReponse = JSON.parse(xhr.responseText);
			};
		};

 	document.getElementById("enregistrement").style.display = "none";
 	document.getElementsByClassName("chat")[0].style.display = "flex";
};

function envoyerMessage(){

};

</script>