<h2><%= 'message' %></h2>
<section id="enregistrement">
	<input type="text">
	<button onclick="enregistrement()">Enregistrement</button>
</section>

<section class="chat" style="display:none">
	<table id="list_user">
	</table>
	<div class="boiteMessages">
		<div class="lesMessages">
				<table id="message">
			</table>
		</div>
		<section id="message_a_transmettre">
			<input type="text" name="txtMessage"><button onclick="envoyerMessage()"><%= 'envoyer' %></button>
		</section>
	</div>
</section>

<script type="text/javascript">

let socket;

window.onload = ()=>{
	socket = io();
 	socket.on('connect', function(){
 		thisID = socket.id;
 		console.log('Le socket id = ' + socket.id);

 		socket.on('ajouterUtilisateur', function(data){
 			console.log('data en provenance du serveur = ' + data.user);
 		});


 	});
 }

/* ---------------------------------------------------------- */
function enregistrement(){
	var elmUser = document.querySelector('#enregistrement input');
	console.log(elmUser.value);

 	socket.emit('setUser', {user : elmUser.value});

 	document.getElementById("enregistrement").style.display = "none";
 	document.getElementsByClassName("chat")[0].style.display = "flex";
};

function envoyerMessage(){

};

</script>